@charset "UTF-8";

body
{ width: 34rem;
  margin: 0 auto;
  font-family: serif; }

h1
{ font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding: 0 5rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1; }

h2
{ font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-variant: small-caps;
  line-height: 1;
  text-align: center;
  text-indent: 0; }

p
{ font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 1rem; }

.title p
{ font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  text-align: center;
  text-indent: 0;
  text-transform: uppercase;
  line-height: 1;
  font-size: 3rem;
  margin-bottom: 10rem; }

.title span.title-small
{ font-size: 2.4rem; }

.authors p
{ font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-variant: small-caps;
  line-height: 1;
  text-align: center;
  text-indent: 0;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 10rem; }

.redaction p
{ line-height: 1.5;
  text-indent: 0;
  text-align: center; }

.noindent p
{ text-indent: 0; }

.break p
{ margin-top: 4rem; }

footer
{ margin-top: 32rem;
  line-height: 1.4rem;
  font-size: 1.2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28rem; }

ul
{ margin: 0.75rem 0;
  padding: 0 1rem;
  list-style: none; }

li
{ text-indent: -1rem;
  font-size: 1.2rem;
  text-align: justify;
  margin: 0; }

.contents ul
{ padding-left: 4rem;
  list-style: none; }

.contents li
{ margin: 1rem 0;
  font-size: 1.4rem;
  text-align: left; }

a:link, a:visited
{ color: inherit; }

a:link
{ text-decoration: none; }

.initial p:first-letter
{ font-size: 6rem;
  float: left;
  margin-right: 0.5rem;
  line-height: 4rem; }

.initial p
{ text-indent: 0; }

.initial-up p:first-letter
{ font-size: 6rem;
  margin-right: 0.5rem; }

.initial-up p
{ text-indent: 0; }

.signature p
{ text-align: right;
  padding-right: 2rem;
  font-size: 1.2rem; }

span.smallcaps
{ font-weight: 600;
  font-size: 1.3rem; }

span.nothing
{ margin-right: 4rem; }

.footnotes ol
{ padding-left: 3rem; }

.footnotes p
{ margin-left: -3rem; }

.footnotes p:first-child
{ text-indent: 3rem; }

blockquote
{ margin: 1rem; }
