@charset "UTF-8";

html
{ font-size: 0.7rem; }

body
{ padding: 1rem;
  hyphens: none; }

h1
{ font-weight: bold;
  width: 22rem;
  margin: 3rem auto 5rem auto;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1; }

h2
{ font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-variant: small-caps;
  line-height: 1;
  text-align: center;
  text-indent: 0; }

p
{ font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: justify;
  hyphens: manual;
  text-indent: 1rem; }

.title h1
{ font-weight: bold;
  text-indent: 0;
  font-size: 3rem;
  margin-bottom: 10rem; }

.title span.title-small
{ font-size: 2.4rem; }

.authors p
{ font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-variant: small-caps;
  line-height: 1;
  text-align: center;
  text-indent: 0;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 10rem; }

.redaction p
{ line-height: 1.5;
  text-indent: 0;
  text-align: center; }

.noindent p
{ text-indent: 0; }

.break p
{ margin-top: 4rem; }

footer
{ margin-top: 32rem;
  line-height: 1.4rem;
  font-size: 1.2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28rem; }

ul
{ margin: 0.75rem 0;
  padding: 0 1rem;
  list-style: none; }

li
{ text-indent: -1rem;
  font-size: 1.2rem;
  text-align: justify;
  margin: 0; }

.contents ul
{ padding-left: 4rem;
  list-style: none; }

.contents li
{ margin: 1rem 0;
  font-size: 1.4rem;
  text-align: left; }

a:link, a:visited
{ color: inherit; }

a:link
{ text-decoration: none; }

.initial p:first-letter
{ font-size: 6rem;
  float: left;
  margin-right: 0.5rem;
  line-height: 4rem; }

.initial p
{ text-indent: 0; }

.initial-up p:first-letter
{ font-size: 6rem;
  margin-right: 0.5rem; }

.initial-up p
{ text-indent: 0; }

.signature p
{ text-align: right;
  padding-right: 2rem;
  font-size: 1.2rem; }

span.smallcaps
{ font-weight: bold;
  font-size: 1.3rem; }

span.nothing
{ margin-right: 4rem; }

.footnotes ol
{ padding-left: 3rem;
  list-style: none; }

.footnotes p
{ margin-left: -3rem; }

.footnotes p:first-child
{ text-indent: 2rem; }

blockquote
{ margin: 1rem; }

sup
{ line-height: 0; }
@font-face
{ font-family: libertine;
  src: url(fonts/LinLibertine_R.woff); }

@font-face
{ font-family: libertine;
  font-style: italic;
  src: url(fonts/LinLibertine_RI.woff); }

@font-face
{ font-family: libertine;
  font-weight: bold;
  src: url(fonts/LinLibertine_RB.woff); }

@font-face
{ font-family: libertine;
  font-weight: bold;
  font-style: italic;
  src: url(fonts/LinLibertine_RBI.woff); }

body
{ font-family: libertine, serif; }

@media (min-width: 34rem)
{ html
  { font-size: 1rem; }

  body
  { width: 34rem;
    margin: 0 auto; } }

section.level1
{ margin-bottom: 20rem; }
